
#fucking-slider img{

  width:100%;

}

#carousel slide{

  width:50%;

}


.wrap {

  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding: 10px 30px 10px 30px;


}
